.eventOpened {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: var(--orange-color);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: auto;
    min-height: 8rem;

    h2 {
        font-size: var(--large-font-size)
    }

    p {
        text-align: justify;
    }
}