.accordion {

    &__button {
        background: transparent;
        color: var(--blue-color);
        font-size: var(--large-font-size);
        font-weight: var(--bold-font-weight);
        text-align: left;
        padding: 0
    }

    span {
        margin-left: 2rem
    }
}
