.noteOpened {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: var(--blue-color);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: auto;
    min-height: 8rem;

    &__buttonsPanel {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__titlePlace {

        b {
            font-weight: var(--black-font-weight);
            font-size: var(--large-font-size);
        }
    }

    &__contentPlace, &__titlePlace {

        border-bottom: 0.1rem white solid;
    }

    &__title {
        font-size: var(--large-font-size);
        font-weight: var(--black-font-weight);
    }

    button {
        background: transparent;
        width: 2.5rem;
        height: 2.5rem;
    }

    input, textarea {
        color: white;
        border-bottom: transparent;
        text-align: justify;
        width: 100%;
        height: max-content;

        &::placeholder {
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}