.dailyPanel {

    &__header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 2rem;

        button {
            font-size: 2rem;
            padding: 0;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    &__day {
        letter-spacing: 0.05rem;
        font-weight: var(--black-font-weight);
    }
}