.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.69rem;
    gap: 1rem;
    margin-bottom: 3rem;

    label {
        text-align: center;
        font-weight: var(--bold-font-weight);
    }

    &__errors {
        color: var(--red-color);
        font-size: var(--smallest-font-size);
        text-align: left;
        width: 100%;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        margin-top: 1.5rem;

        button {
            background-color: var(--blue-color);
            color: white
        }

        a {
            color: var(--black-color)
        }
    }
}